<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

	<servlet>
		<servlet-name>BooksServlet</servlet-name>
		<servlet-class>BooksServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BooksServlet</servlet-name>
		<url-pattern>/books</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>CDServlets</servlet-name>
		<servlet-class>CDServlets</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CDServlets</servlet-name>
		<url-pattern>/cds</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>giftServlets</servlet-name>
		<servlet-class>giftServlets</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>giftServlets</servlet-name>
		<url-pattern>/gifts</url-pattern>
	</servlet-mapping>
		
</web-app>